@font-face{
  font-family: "fuente";
  src :url('../../probert.otf');
}
h1{
  font-family: "fuente";
  font-size: 2em;
}
body{
  min-height: 100%;
  background-color: rgba(137, 242, 120,0.3);
}
nav{
  background-color: rgb(5,52,58);
  margin-top:  0px;
}

.combos{
  display: inline;
  width: 30%;
  padding-right: 0px !important;
  margin-right: 2%;
}
.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  left: 0;
  padding: 35px 27px;
}

.formulario {
  background-color: rgba(78, 168, 33, 0.4);
  max-width: 300px;
  height :400px;
  padding :0;
  padding-bottom: 50px;
  border-radius: 5px;
  padding-bottom: 20px;
}
.cont-form{
  padding-left: 12%:
}
.formulario2{
  background-color: rgba(78, 168, 33, 0.4);
  max-width: 300px;
  height :580px;
  padding :0;
  padding-bottom: 50px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.login,.registro{
  padding: 10px;
}

.combo, .radios{
  padding-left: 0px;
}
.btnregistrar, .btnentrar{
  margin-top: 5px;
}

.btnregistrar > button{
  color: red;
  border : white;
  background-color: green;
}
.btnregistrar > button:hover{
  color: white;
  border : white;
  background-color: green;
}

.logo{
  max-height: 120px;
}

.encabezado{
  margin : 0;
  margin-bottom: 10px;
  padding :0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(78, 168, 33, 1);
  color : #ece6e8;
}

.entrar{
  margin-top: 10px;
    background-color: rgb(255,163,19);
    color : #e2e9e7;
}
.entrar:hover{
  background-color:#f95a00;
  color:white;
}

.navbar-brand{
  margin : 0;
  padding :0;
  padding-left: 20px;
}
