.InfoPerfil{

  border-radius: 5px;
  padding-left: 10%;
  padding-right: 10%;

}
.InfoPerfil img{
  height: 100px;
  width: 100px;
  margin:auto;
  float: none;
}
.c{

    background-color: rgba(78, 168, 33, 0.4);
    min-width:233px;
    max-width: 300px;
    margin:auto;
    height: 300px;
    border-radius: 5px;
}

.crearContenido input{
  visibility: hidden;
}
.crearContenido img{

  margin: auto;
}

#exTab1 .tab-content {
  color : white;
  background-color:rgba(78, 168, 33, 0.4);
  padding : 5px 15px;
}
#exTab1 ul li{
  background-color: rgba(78, 168, 33, 0.2);
  padding: 0;
  text-align: center;
}
#exTab1 ul li.active, #exTab1 ul li.active a {
  margin: 0;
  background-color: rgba(78, 168, 33, 0.7);
  border-radius: 4px 4px 0 0;
}
#exTab1 ul li a img{
  width: 100px;
  margin: auto;
}
