<!DOCTYPE html>
<html lang="en">
<head>
  <title>Regirwerstro</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/estilos/login.css">
</head>
<body>
  <nav class="navbar navbar-static-top">
    <a href="landingpagefinal.html" class="navbar-brand">
      <img src="../imagenes/logo.png" alt="Regresar" height="50px" width="70px">
    </a>

  </nav>

  <div class="container-fluid">
    <div class="row center-block logo">
      <div class="col-xs-12 text-center">
          <img  src="../imagenes/logo.png" alt="" class="img-responsive center-block logo" />
      </div>

    </div>

    <div class="row registro center-block">
      <div class=" col-xs-12 center-block">
        <div class="formulario2 center-block">
          <div class=" col-xs-12 encabezado text-center center-block">
            <h1>Crear cuenta</h1>
          </div>
          <p class="col-xs-12 text-center">
            Únete y no te pierdas de nada del mundo del gaming.
          </p>
          <p class="col-xs-12 text-center">
            ¿Ya tienes una cuenta? <a href="login.html">Inicia sesion.</a>
          </p>
          <form action="">
            <div class="col-xs-12 form-group">
              <label>Usuario</label>
              <input class="form-control" type="text" />
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="col-xs-12 form-group">
              <label>Correo Electrónico</label>
              <input class="form-control" type="email" />
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <div class="col-xs-12 form-group">
              <label>Contraseña</label>
              <input class="form-control" type="password" />
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            <div class="col-xs-12 form-group">
              <label class="">Fecha de nacimiento</label>
              <div class="col-xs-12 combo">
                <select><option value="">Día</option></select>
                <select><option value="">Mes</option></select>
                <select><option value="">Año</option></select>
              </div>
            </div>
            <div class="col-xs-12 form-group">
              <label class="">Sexo</label>
              <div class="col-xs-12 radios">
                <input type="radio" checked>Hombre</input>
                <input type="radio">Mujer</input>
              </div>
            </div>
            <div class="col-xs-12 form-group ">
            <button type="button" name="button" class="btn entrar">
              <span class="glyphicon glyphicon-arrow-right"></span> Registrarse
            </button>
            </div>
          </form>
        </div>
    </div>
    </div>
  </div>
</body>
</html>
